<plugin name='xml-validator' version='0.1' grailsVersion='1.2.1 &gt; *'>
  <author>Brent Halsey</author>
  <authorEmail>mrbrent at gmail dot com</authorEmail>
  <title>Plugin summary/headline</title>
  <description>
Provides a simple mechanism to validate xml on the request with a given schema.
Schema can be passed in as a relative file path or as a string.  Throws
SAXException for any validation errors.  Syntax is easy to remember:
change the familiar request.XML access into a method with the schema passed as 
an argument: request.XML( schemaInput )
</description>
  <documentation>http://grails.org/plugin/xml-validator</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>